@using WordCounter.Models;

<h1>Word Counter</h1>

<p>This is how many times your word <b>@Model.GetWord()</b> appears in your sentence <i>@Model.GetSentence()</i>:
@Model.GetResult().</p>


<form action="/WordCounter/Index" method="post">
<button type="submit" name="button">Play again!</button>
</form>
