@using WordCounter.Models;

@{
  Layout = "_Layout";
}

<h1>Word Counter</h1>

<p>This is how many times your word <b>@Model.GetWord()</b> appears in your sentence <i>@Model.GetSentence()</i>:
@Model.GetResult().</p>

<a href="WordCounter/new">
Play again!</a>

<div class="cute">
  <h2>@Model.GetWord().ToUpper()</h2>
</div>
