@using WordCounter.Models;

<h1>Word Counter</h1>

<a href="/wordcounter/new">Add a new word.</a>

<form action="/items/delete" method="post">
<button type="submit" name="button">Clear All Items</button>
</form>
