@using WordCounter.Models;

<h1>Word Counter</h1>

<p>This is how many times your word @Model.GetWord() appears in your sentence @Model.GetSentence(): </p>

<form action="/WordCounter/delete" method="post">
<button type="submit" name="button">Clear All Items</button>
</form>
