<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>Word Counter</title>
</head>
<body>
<h1>Word Counter</h1>
<h2>You haven't submitted anything yet! Please return to the form to submit a word and a sentence. It's funner than it sounds. Really.</h2>
<form action="/wordcounter" method="post">
<label for="word">Add a new word</label>
<input id="word" name="word" type="text">
<button type="submit">Submit</button>
</form>

</body>
</html>
