@{
  Layout = "_Layout";
}

<h1>Welcome to the Word Counter!</h1>
<h3>A fun-ish game to while away precious time</h3>

<a href='/WordCounter/new'>I totally want to while away a bit of precious time by playing this not-word word game!</a>
<a href='/WordCounter'></a>
